@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #00193A;
    --color-danger: #7A0213;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #131313;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #034780;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-readius: 2rem;
    --border-radius-1: 0.4rem;
    --borrder-radius-2: 0.8rem;
    --borrder-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;

}

.container {
    display: grid;
    height: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-rows: 3rem auto;
}

a {
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;

}

h4 {
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}
header {
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    box-shadow: var(--box-shadow);

}

header .logo {
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
}

header .logo img{
    width: 5rem;
    height: 5rem;
}

main .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .title h2 {
    color: var(--color-dark);
}

main .submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .submit button {
    width: 100px;
    height: 50px;
    color: var(--color-white);
    background: var(--color-success);
    border: 3px solid var(--color-primary-variant);
    border-radius: 25px;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .compt-cancel{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-bottom: 10px;
}

main .compt-cancel > button{
    width: 6.5rem;
    height: 3rem;
    background: var(--color-primary);
    border: 3px solid var(--color-primary-variant);
    border-radius: 25px;
    margin: 0 70px;
    transition: background 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main .compt-cancel > button p{
    color: var(--color-white);
}

main .compt-cancel > button:hover {
    background: var(--color-primary-variant);
}

main .compt {
    display: flex;
    justify-content: center;
    width: 100vw;
}

main .compt button {
    width: 12.5rem;
    height: 12.5rem;
    color: white;
    background: var(--color-primary);
    border: 3px solid var(--color-primary-variant);
    border-radius: 25px;
    margin: 0 20px;
    transition: background 0.5s ease;
    cursor: pointer;
}

main .compt button p{
    color: var(--color-white);
}

main .compt button:hover {
    background: var(--color-primary-variant);
}

main .compt button h1 {
    font-size: 75px;
}

main .compt-text h1 {
    font-size: 75px;
}

main .compt-text p {
    color: var(--color-white);
}

main .compt-text { 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 12.5rem;
    height: 12.5rem;
    color: var(--color-white);
    background: var(--color-primary);
    border: 3px solid var(--color-primary-variant);
    border-radius: 25px;
    margin: 0 20px;
}

main .apresentation-container {
    display: flex;
    color: var(--color-primary);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
  
main .apresentation-container p {
    font-size: 1.5rem;
    padding-right: 20px;
}

main .apresentation-container h1 {
    font-size: 1.5rem;
}


main .slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

main .tabs1{
    display: flex;
    position: relative;
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 99px;

}

main .tabs1 *{
    z-index: 2;

}

main .tabs2{
    display: flex;
    position: relative;
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 99px;
}

main .tabs2 *{
    z-index: 2;

}


main .tabs3{
    display: flex;
    position: relative;
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 99px;
}

main main.tabs *{
    z-index: 2;

}

input[type="radio"]{
    display: none;
}

main .tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 100px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15 ease-in;
}

input[type="radio"]:checked + label{
    border: 2px solid white;
}

