@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #00193A;
    --color-danger: #7A0213;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #131313;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #034780;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-readius: 2rem;
    --border-radius-1: 0.4rem;
    --borrder-radius-2: 0.8rem;
    --borrder-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}



*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;

}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a {
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;

}

h4 {
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4rem;
}

aside h3{
    font-weight: 500;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 10rem;
    height: 10rem;
}

aside .close{
    display: none;
}

/* SIDE BAR */

aside .sidebar{
    
    display: flex;
    flex-direction: column;
    height: 72vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;

}

main{
    margin-top: 1.4rem;
}

/* MAIN TORNEIOS */

main .torneios {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}


main .torneios > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-readius);
    margin: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.8rem;
}

main .torneios > div:hover {
    box-shadow: none;
}

.delete:hover {
    color: var(--color-danger);
}

.edit:hover{
    color: var(--color-warning);
}

main .torneios .add-torneio{
    background-color: transparent;
    border: 2px dashed var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .torneios .add-torneio a:hover{
    color: var(--color-primary-variant);
}

main .torneios .torneio-item .options a{
    cursor: pointer;
}

.bg-popup {
    background: rgb(0 0 0 / 0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.add-torneio-poppup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: var(--color-white);
    text-align: center;
    padding: 20px;
}

/* .delete-torneio-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: var(--color-white);
    text-align: center;
    padding: 20px;
    gap: 3rem;
}

.delete-torneio-popup button{
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 0.5rem;
    cursor: pointer;
}

.btns button:last-child{
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    padding: 0.5rem;
}

.delete-torneio-popup a {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
}

.delete-torneio-popup h2 {
    margin-top: 1rem;
} */


.add-torneio-poppup a{
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    cursor: pointer;
}

.add-torneio-poppup h2 {
    position: absolute;
    top: 2rem;
}

.add-torneio-poppup form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    color: black;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #00193A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:10px;
  }
  
  input[type="submit"]:active {
    background-color: #034780;
    
  }




/* MAIN CATEGORIAS */

main .torneios-categorias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0.8rem;
}

main .torneios-categorias button {
    padding: 1rem;
    display: flex;
    border-radius: var(--borrder-radius-2);
}

main .torneios-categorias button span{
    position: absolute;
    right: 4rem;
}




.categorias{
    display: none;
    position: relative;
    grid-template-columns: repeat(5,1fr);
    gap: 1.6rem;
}

.categorias > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-readius);
    margin: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.8rem;
}


main .add-categoria{
    background-color: transparent;
    border: 2px dashed var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .add-categoria a:hover{
    color: var(--color-primary-variant);
}

/* MAIN COMPETIDORES */

main .competidores {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1.6rem;
}


main .competidores > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-readius);
    margin: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.8rem;
}

main .competidores > div:hover {
    box-shadow: none;
}

main .competidores .add-competidor{
    background-color: transparent;
    border: 2px dashed var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


main .categoria-container {
    display: flex;
    align-items: center;
    gap: 0.8rem ;
}

.add-category-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: var(--color-white);
    text-align: center;
    padding: 20px;
    gap: 1rem;
}

.add-category-popup a{
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}

.add-category-popup h2 {
    position: absolute;
    top: 2rem;
}

.add-category-popup form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

/* Judges */

main .arbitros {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1.6rem;
}

main .arbitros > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-readius);
    margin: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.8rem;
}

main .arbitros > div:hover {
    box-shadow: none;
}

main .arbitros .add-arbitro{
    background-color: transparent;
    border: 2px dashed var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 10px;
}


/* DASHBOARD */

main .progress-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
    position: relative;
    left: 5rem;
}


main .progress {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    
}

main .progress svg {
    width: 7rem;
    height: 7rem;
}

main .progress svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 200;
    stroke-dashoffset: -30;
}

main .tournaments-circle svg circle{
    stroke: var(--color-primary-variant);
    stroke-dasharray: 100;
    stroke-dashoffset: -30;
}

main .categories-circle svg circle{
    stroke: var(--color-danger);
    stroke-dasharray: 150;
    stroke-dashoffset: -30;
}

main .judges-circle svg circle{
    stroke: var(--color-primary-variant);
    stroke-dasharray: 180;
    stroke-dashoffset: -30;
}

main .users-circle svg circle{
    stroke: var(--color-danger);
    stroke-dasharray: 200;
    stroke-dashoffset: -30;
}

main .torneios-ativos {
    margin: 10rem 2rem;
}

