<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTR</title>
    <link rel="stylesheet" href="../static/css/styleFront.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="..\static\images\logo.png" alt="">
            </div>
            <nav>
                <a href="">Provas</a>
                <a href="">Login<span class="material-symbols-sharp">login</span></a>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        
    </div>
    
</body>
</html>