{% extends 'base.html' %}
{% block title %}PTR - Add Judge{% endblock %}

{% block content%}
<br> <br>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username() }}
    <br>
    {{ form.real_name.label }}
    {{ form.real_name() }}
    <br>
    {{ form.password_hash.label }}
    {{ form.password_hash() }}
    <br>
    {{ form.password_hash2.label }}
    {{ form.password_hash2() }}
    <br>
    {{ form.type_of_jury.label }}
    {{ form.type_of_jury() }}
    <br><br>
    {{ form.category_name.label }}
    {{ form.category_name() }}
    <br><br>
    {{ form.tournament_id.label }}
    {{ form.tournament_id() }}
    <br><br>
    {{ form.submit() }}

</form>

{% for message in get_flashed_messages() %}
    <div class="alert">
       <p>{{ message}}</p> 
    </div>
{% endfor %}

{% for our_judges in our_judges %}
<p>
    {{ our_judges.id }} - {{ our_judges.username }}</a>{{ our_judges.real_name }}</a> - {{ our_judges.password_hash }} - {{ our_judges.date_added }} - User perms {{ our_judges.user_type }}
</p>
{% endfor %}
  
{% endblock%}