{% extends 'base-new.html' %}
{% block title %}PTR - Registo{% endblock %}

{% block content%}
<br> <br>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username() }}
    <br>
    {{ form.real_name.label }}
    {{ form.real_name() }}
    <br>
    <div id = "password", name = "password">
    {{ form.password_hash.label }}
    {{ form.password_hash() }}
    </div>
    {{ form.password_hash2.label }}
    {{ form.password_hash2() }}
    <br>
    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>
    

    <br><br>
    {{ form.submit() }}

</form>

{% for message in get_flashed_messages() %}
    <div class="alert">
       <p>{{ message }}</p> 
    </div>
{% endfor %}

<br><br>

<script>
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    
   
    myInput.onfocus = function() {
      document.getElementById("message").style.display = "block";
    }
    

    myInput.onblur = function() {
      document.getElementById("message").style.display = "none";
    }
    
    myInput.onkeyup = function() {
      var lowerCaseLetters = /[a-z]/g;
      if(myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
    }
    
      var upperCaseLetters = /[A-Z]/g;
      if(myInput.value.match(upperCaseLetters)) {
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }
    
      var numbers = /[0-9]/g;
      if(myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }
    
      if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
    }
    </script>


  
{% endblock%}