<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PTR - DASHBOARD {% endblock %}</title>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/styleadmindash.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>
<body class="admin-body">
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{{ url_for('admin') }}" >
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>

                <a href="{{ url_for('tournaments_admin') }}">
                    <span class="material-symbols-sharp">diversity_2</span>
                    <h3>Torneios</h3>
                </a>

                <a href="{{ url_for('categories_admin') }}">
                    <span class="material-symbols-sharp">category</span>
                    <h3>Categorias</h3>
                </a>

                <a href="{{ url_for('athletes_admin') }}">
                    <span class="material-symbols-sharp">sports_martial_arts</span>
                    <h3>Atletas</h3>
                </a>

                <a href="{{ url_for('judges_admin') }}" class="active">
                    <span class="material-symbols-sharp">gavel</span>
                    <h3>Arbitros</h3>
                </a>

                <a href="{{ url_for('users_admin') }}">
                    <span class="material-symbols-sharp">person</span>
                    <h3>Utilizadores</h3>
                </a>

                <a href="{{ url_for('logout') }}">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
            
        </aside>

        <main>
            <div class="arbitros-container">
                <h1>Arbitros</h1>
            </div>
            <div class="arbitros">
                {% for judges in judges %}
                <div class="arbitro-item">
                    <h3>Nome Real: {{ judges.user.real_name }}</h3>
                    <h4>Tipo de Juri: {{ judges.type_of_jury }}</h4>
                    {% for categories in categories%}
                    {% if categories.id == judges.category_id%}
                    <h5>Categoria : {{ categories.name }}</h3>
                    {%endif%}
                    {%endfor%}
                    {%for tournaments in tournaments%}
                    {% if tournaments.id == judges.tournament_id%}
                    <small class="text-muted">Torneio : {{ tournaments.name }}</small>
                    {%endif%}
                    {%endfor%}
                    <div class="options">
                        <a href="{{ url_for('delete_judge', id=judges.id) }}" class="delete">
                            <span class="material-symbols-sharp">delete</span>
                        </a>
                        <a href="{{ url_for('update_judge', id=judges.id) }}" class="edit">
                            <span class="material-symbols-sharp">edit</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                
                <div class="competidor-item add-arbitro" onclick="show_popup('bg-arbitro-add')">
                    <a>
                        <span class="material-symbols-sharp">add</span>
                        <h4>Adicionar Arbitro</h4>
                    </a>
                </div>
            </div>

            <div class="bg-popup" id="bg-arbitro-add">
                <div class="add-torneio-poppup" id="add-torneio">
                    <a id="close-btn-torneio" onclick="hide_popup('bg-arbitro-add')">
                        <span class="material-symbols-sharp">close</span>
                    </a>
                    <h2>Adicionar Arbitro</h2>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}

                        {{ form.username.label }}
                        {{ form.username() }}

                        {{ form.real_name.label }}
                        {{ form.real_name() }}

                        {{ form.password_hash.label }}
                        {{ form.password_hash() }}

                        {{ form.password_hash2.label }}
                        {{ form.password_hash2() }}

                        {{ form.type_of_jury.label }}
                        {{ form.type_of_jury() }}

                        {{ form.tournament.label}}
                        {{ form.tournament(**{"hx-get" : "/get_categories", "hx-target" : "#category"}) }}

                        {{ form.category.label }}
                        {{ form.category }}



                       {{ form.submit() }}
                    </form>
                </div>
            </div>
        
        </main>
    </div>
    

    <script src="..\static\script.js"></script>
    </body>
    </html>
