{% extends 'base.html' %}

{% block content %}
  <h1>All Users</h1>
  <table id = "user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Real Name</th>
        <th>User Type</th>
      </tr>
    </thead>
    <tbody>
      {% for judge in judge %}
        <tr>
          <td><a href="{{url_for('update_user', id=judges.id)}}">{{ judges.id }}</a></td>
          <td>{{ judges.username }}</td>
          <td>{{ judges.real_name }}</td>
          <td>{{ judges.user_type }}</td>
          <td><a href="{{url_for('delete_user', id=judges.id)}}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}