{% extends 'base_without_headers.html' %}
{% block title %}PTR - DashBoard{% endblock %}

{% block content%}
<header class="juri-header">
    <img src="/static/images/logo.png" alt="" srcset="" class="middle-top-logo">
</header>
   

<div class="title">
    <h2>A avaliar: 🇵🇹 *Nome Competidor* - *Categoria *</h2>
</div>

<div class="compt">
    <button class="button-reduce-tree">
        <p>Retirar:</p>
        <h1>-0.3</h1>
    </button>
    <div class="compt-text">
        <p>Componente Técnica:</p>
        <h1>4.0</h1>
    </div>
    <button class="button-reduce-one">
        <p>Retirar:</p>
        <h1>-0.1</h1>
    </button>
</div>



  
{% endblock%}