{% extends 'base-new.html' %}
{% block title %}PTR - DashBoard{% endblock %}

{% block content%}

<main>
    <h1>Torneios a Decorrer</h1>
    {% for tournament in tournaments %}
    <div class="torneios-categorias">
        <button onclick="show_hide('{{ tournament.name }}')" class="btn-categorias">
            <h3>{{ tournament.name }}</h3>
            <span class="material-symbols-sharp">expand_more</span>
        </button>
        
        <div class="categorias" id="{{ tournament.name }}">

                {% for categories in categories %}
                {% if categories.tournament_id == tournament.id %}
                {% if current_user.user_type == "admin" or  current_user.user_type == "superadmin" or current_user.user_type == "judge"%}
                {% for judges in judges %}
                {% if judges.category_id == categories.id %}
                <div class="categoria-item">
                    <h3>{{ categories.name }}</h3>
                    <small class="text-muted">{{ categories.list_of_athletes.length }}</small>
                    <div class="options">
                        <a href="{{ url_for('judge_interface', judge_id = judges.id, category_id=categories.id, tournament_id = tournament.id) }}" class="more">
                            <span class="material-symbols-sharp">add</span>
                            <h4>Começar a avaliar</h4>
                          </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}
                {% endfor %}
        </div>
    </div>
    {% endfor %}
  </main>

</div>



<script src="../static/script.js"></script>
{% endblock%}