{% extends 'base-new.html' %}
{% block title %}PTR - LogIn{% endblock %}

{% block content%}
<main>
  <div class="login">
    <form action="" method="post">
      {{ form.hidden_tag() }}
    
      {{ form.username.label }}
      {{ form.username() }}
      <br>
      {{ form.password.label }}
      {{ form.password() }}
      <br><br>
      {{ form.submit() }}
    
    
    {% for message in get_flashed_messages() %}
      <div class="alert">
          <p>{{ message}}</p> 
      </div>
    {% endfor %}

    <a href="{{ url_for('create_user') }}">
      <small class="create-anchor">
        Ainda não tem conta? Clique aqui para criar.
      </small>
    </a>
  </div>
</main>


{% endblock%}