{% extends 'base.html' %}
{% block title %}PTR - Add Athlete{% endblock %}

{% block content%}
<br> <br>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name() }}
    <br>
    {{ form.list_of_poomsaes.label }}
    {{ form.list_of_poomsaes() }}
    <br>
    {{ form.age.label }}
    {{ form.age() }}
    <br><br>
    {{ form.submit() }}

</form>

{% for message in get_flashed_messages() %}
    <div class="alert">
       <p>{{ message}}</p> 
    </div>
{% endfor %}

<br><br>
<div class="fiy">
    {% for our_user in our_users %}
    <p>
        {{ our_user.id }} - <a href="{{url_for('updateathlete', id=our_user.id)}}">{{ our_user.username }}</a> - {{ our_user.password_hash }} - {{ our_user.date_added }} - User perms {{ our_user.user_perms }} -  <a href="{{url_for('deleteathlete', id=our_user.id)}}">Delete</a>
    </p>
    {% endfor %}
</div>



  
{% endblock%}