{% extends 'base.html' %}
{% block title %}PTR - Add User{% endblock %}

{% block content%}
<br> <br>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username() }}
    <br>
    {{ form.password_hash.label }}
    {{ form.password_hash() }}
    <br>
    {{ form.password_hash2.label }}
    {{ form.password_hash2() }}
    <br>
    {{ form.user_perms.label }}
    {{ form.user_perms() }}
    <br><br>
    {{ form.submit() }}

</form>

{% for message in get_flashed_messages() %}
    <div class="alert">
       <p>{{ message}}</p> 
    </div>
{% endfor %}

<br><br>
<div class="fiy">
    {% for our_user in our_users %}
    <p>
        {{ our_user.id }} - <a href="{{url_for('updateuser', id=our_user.id)}}">{{ our_user.username }}</a> - {{ our_user.password_hash }} - {{ our_user.date_added }} - User perms {{ our_user.user_perms }} -  <a href="{{url_for('deleteuser', id=our_user.id)}}">Delete</a>
    </p>
    {% endfor %}
</div>



  
{% endblock%}