<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTR</title>
    <link rel="stylesheet" href="../static/css/styleFront.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="..\static\images\logo.png" alt="">
            </div>
        </header>

        <main>
            <div class="presentation">
                <h2>A avaliar: 🇵🇹 - <i id = "athlete_name">Nome Atleta</i> - <i>Nome Categoria</i></h2>
            </div>

            <div class="grades">
                <div class="judge judge1">
                    <h3>Arbitro 1</h3>
                </div>

                <div class="judge judge2">
                    <h3>Arbitro 2</h3>
                </div>

                <div class="judge judge3">
                    <h3>Arbitro 3</h3>
                </div>

                <div class="tec-grade judge1">
                    <h3>4.0</h3>
                </div>

                <div class="tec-grade judge2">
                    <h3>4.0</h3>
                </div>

                <div class="tec-grade judge3">
                    <h3>4.0</h3>
                </div>

                <div class="presentation-grade judge1">
                    <h3>6.0</h3>
                </div>

                <div class="presentation-grade judge2">
                    <h3>6.0</h3>
                </div>

                <div class="presentation-grade judge3">
                    <h3>6.0</h3>
                </div>

                <div class="median-tec">
                    <h2>Media Tecnica</h2>
                    <h2>6.0</h2>
                </div>

                <div class="median-presentation">
                    <h2>Media Apresentacao</h2>
                    <h2>4.0</h2>
                </div>

                <div class="median-final">
                    <h2>Media Final</h2>
                    <h2>10.0</h2>
                </div>




            </div>

        </main>

        
    </div>
    
</body>
</html>