{% extends 'base-new.html' %}
{% block title %}{% endblock %}

{% block content%}

<body>
    <div class="container">

        <main>
            <h2>Provas</h2>
            <div class="active-tournaments">
                <h2>Torneios Ativos</h2>
                <div class="torneios">
                    <div class="torneio-item">
                        <h3>Nome do Torneio</h3>
                        <small class="text-muted">08/07/2023</small>
                        <h5>7 Categorias</h3>
                        <div class="options">
                        </div>
                    </div>
                </div>
            </div>
            <div class="active-tournaments">
                <h2>Torneios Passados</h2>
                <div class="torneios">
                    <div class="torneio-item">
                        <h3>Nome do Torneio</h3>
                        <small class="text-muted">08/07/2023</small>
                        <h5>7 Categorias</h3>
                        <div class="options">
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    
</body>
</html>

{% endblock %}