<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTR</title>
    <link rel="stylesheet" href="../static/css/styleFront.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
    <link rel="icon" href="../static/images/logo.png">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="{{ url_for('index')}}"><img src="..\static\images\logo.png" alt=""></a>
            </div>
            <nav>
                <a href="{{ url_for('provas') }}">Provas</a>
                <a href="{{ url_for('login')}}">Login<span class="material-symbols-sharp">login</span></a>
            </nav>
        </header>

        <main>
            <h1>Categoria - {{ prova.name }}</h1>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Lugar</th>
                        <th>Nome</th>
                        <th>Apresentação Poomsae</th>
                        <th>Tecnica Poomsae</th>
                        <th>Média Poomsae</th>
                    </tr>
                </thead>
                <tbody>
                    {% for athlete in athletes %}
                    <tr>
                        <th>{{ athlete.rank }}</th>
                        <th>{{ athlete.name }}</th>
                        <th>{{ athlete.list_of_poomase.get(0).presentation_component }}</th>
                        <th>{{ athlete.list_of_poomase.get(0).technical_component }}</th>
                        <th>{{ athlete.poomsae_median }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

    </div>
    
</body>
<script src="../static/script.js"></script>
</html>