{% extends 'base-new.html' %}
{% block title %}{% endblock %}

{% block content%}

<body>
    <div class="container">


        <main>
            <h1>Categoria - {{ prova.name }}</h1>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Lugar</th>
                        <th>Nome</th>
                        <th>Apresentação Poomsae</th>
                        <th>Tecnica Poomsae</th>
                        <th>Média Poomsae</th>
                    </tr>
                </thead>
                <tbody>
                    {% for athlete in athletes %}
                    <tr>
                        <th>{{ athlete.rank }}</th>
                        <th>{{ athlete.name }}</th>
                        <th>{{ athlete.list_of_poomsaes[0].presentation_component }}</th>
                        <th>{{ athlete.list_of_poomsaes[0].technical_component }}</th>
                        <th>{{ athlete.poomsae_median }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>

    </div>
    
</body>
<script src="../static/script.js"></script>
</html>

{% endblock %}