{% extends 'base_without_headers.html' %}
{% block title %}PTR - DashBoard{% endblock %}


{% block content%}
<header class="admin-header">
    <a href = "{{ url_for('index')}}"><img src="/static/images/logo.png" alt="" srcset="" class="middle-top-logo"></a> 
    <h1 class="tournament-page-title">Categorias do torneio</h1>
</header>

<div class="add-btns-container">
  {%if current_user.user_type in ["admin", "superadmin"]%}
  <a href= {{url_for('create_category')}} class="">Adicionar Atleta</a>
  <a href= {{url_for('create_judge')}} class="">Adicionar Judge</a>
  {% endif %}
</div>


<div class="athletes-and-judges-container">
  <div class="atletas-container">
      <div class="atleta">
        {% for athlete in athletes %}
        <a href= ""><h1 class="title-atleta">{{ athlete.name }}</h1></a>
        <button><a href = {{url_for('delete_category', id=athlete.id)}}></a>Delete</button>
        <h2 class="arrow">></h2>
        {% endfor %}
      </div>
</div>

  <div class="judge-container">
    <div class="judge">
        {% for judges in judges %}
        <a href=""><h1 class="title-judge">{{ judges.user.real_name }}</h1></a>
        <button><a href = {{url_for('delete_user', id=judges.id)}}></a>Delete</button>
        <h2 class="arrow">></h2>
        {% endfor %}
    </div>
  </div>
</div>




{% endblock%}