{% extends 'base.html' %}
{% block title %}PTR - LogIn{% endblock %}

{% block content%}
<h1 id = "update_user">Update User</h1>
<br> <br>
<form action="/update_user/{{user_to_update.id}}" method="post">
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username(value = user_to_update.username) }}
    <br>
    {{ form.real_name.label }}
    {{ form.real_name(value = user_to_update.real_name) }}
    <br>
    {{ form.password_hash.label }}
    {{ form.password_hash(value = user_to_update.passwordhash) }}
    <br>
    {{ form.password_hash2.label }}
    {{ form.password_hash2(value = user_to_update.passwordhash2) }}
    <br>
    <br><br>
    {{ form.submit() }}

    <a href="{{url_for('delete_user', id=id)}}">Delete</a>

</form>

{% for message in get_flashed_messages() %}
    <div class="alert">
       <p>{{ message}}</p> 
    </div>
{% endfor %}

<br><br>
<div class="fiy">



  
{% endblock%}