<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PTR - DASHBOARD {% endblock %}</title>
    <link rel="icon" href="../static/images/logo.">
    <link rel="stylesheet" href="../static/css/styleadmindash.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
</head>
<body class="admin-body">
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{{ url_for('admin') }}" >
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>

                <a href="{{ url_for('tournaments_admin') }}">
                    <span class="material-symbols-sharp">diversity_2</span>
                    <h3>Torneios</h3>
                </a>

                <a href="{{ url_for('categories_admin') }}">
                    <span class="material-symbols-sharp">category</span>
                    <h3>Categorias</h3>
                </a>

                <a href="{{ url_for('athletes_admin') }}">
                    <span class="material-symbols-sharp">sports_martial_arts</span>
                    <h3>Atletas</h3>
                </a>

                <a href="{{ url_for('judges_admin') }}" >
                    <span class="material-symbols-sharp">gavel</span>
                    <h3>Arbitros</h3>
                </a>

                <a href="{{ url_for('users_admin') }}"class="active">
                    <span class="material-symbols-sharp">person</span>
                    <h3>Utilizadores</h3>
                </a>

                <a href="{{ url_for('logout') }}">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
            
        </aside>

        <main>
            <div class="categoria-container">
                <h1>Utilizadores</h1>
            </div>
            <div class="competidores">

                {% for user in users%}
                <div class="competidor-item">
                    <h4>Name: <p>{{ user.username}}</p> </h4>
                    <h4>Date Added: <p>{{ user.date_added}}</p></h4>
                    <h4>Tipo de Utilizador: <p>{{ user.user_type }}</p> </h4>
                    {% if user.user_type != 'admin'%}
                    <div class="options">
                        {% if user.user_type == 'judge' %}
                            <a href="{{ url_for('delete_judge', id=user.id) }}" class="delete">
                                <span class="material-symbols-sharp">delete</span>
                            </a>
                        {% else %}
                        <a href="{{ url_for('delete_user', id=user.id) }}" class="delete">
                            <span class="material-symbols-sharp">delete</span>
                        </a>
                        {% endif %}
                        <a href="{{ url_for('update_user', id=user.id) }}" class="edit">
                            <span class="material-symbols-sharp">edit</span>
                        </a>
                    </div>
                    {%endif%}
                </div>

                

                {%endfor%}
                
                
                <div class="competidor-item add-competidor" onclick="show_popup('bg-arbitro-add')">
                    <a>
                        <span class="material-symbols-sharp">add</span>
                        <h4>Adicionar Utilizador</h4>
                    </a>
                </div>
            </div>

            <div class="bg-popup" id="bg-arbitro-add">
                <div class="add-torneio-poppup" id="add-torneio">
                    <a id="close-btn-torneio" onclick="hide_popup('bg-arbitro-add')">
                        <span class="material-symbols-sharp">close</span>
                    </a>
                    <h2>Adicionar Arbitro</h2>
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}

                        {{ form.username.label }}
                        {{ form.username() }}

                        {{ form.real_name.label }}
                        {{ form.real_name() }}

                        {{ form.password_hash.label }}
                        {{ form.password_hash() }}

                        {{ form.password_hash2.label }}
                        {{ form.password_hash2() }}


                       {{ form.submit() }}
                    </form>
                </div>
            </div>
        
        </main>

    </div>
    

    <script src="..\static\script.js"></script>
    </body>
    </html>
